.grids{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 30px;
  }
  
  .main-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .my-margin{
      margin-top: 50px;
  }