.book-appointment-box{
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: cornflowerblue;
    margin: 0 auto;
}

.my-heading1{
    color: cornsilk;
}

.my-heading2{
    color: cornsilk;
}